body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

form{
    margin-top: 15px;
}

section {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 30%;
    margin: 50px auto;
    background-color: #f8f8f8;
    padding: 20px;
    position: relative;
}

legend{
    background: #f8f8f8;
    border: 1px solid rgb(160, 147, 147);
    width: 30%;
    padding: 6px 12px;
    border-radius: 4px;
    position: absolute;
    top: -21px;
    left: -1px;
}

form span {
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: 12px;
}

input[type="text"], input[type="password"] {
    border-radius: 4px;
    border: 1px solid grey;
}

input[type="submit"] {
    background-color: #2d2d2d;
    color: white;
    border: none;
    outline: none;
    padding: 4px 14px;
    border-radius: 4px;
    margin-top: 20px;
}

@media all and (max-width: 600px){
    section{
        width: 60%;
    }
    label{
        flex-direction: column;
    }
}