article{
    display: inline-block;
    flex-direction: column;
    flex-basis: 30%;
}
html{
    font-family: Helvetica, serif;
    line-height: 1.5;
    font-size: 16px;
    box-sizing: border-box;
}
h2{
    font-family: Georgia, serif;
    line-height: 1.2;
    font-size: 1em;
}
section{
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: auto;
    padding: 30vh 0;
    border-style: solid;
}