body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: #ebebeb;
}

header {
    border-bottom: 2px solid;
    width: 80%;
    margin: 30px auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    background: white;
    padding-left: 0%;
    border-radius: 8px;
}

header ul li {
    list-style: none;
    background-color: #2d2d2d;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 4px;
}

.menu {
    display: none;
}

/*Tablet Styles*/
@media all and (max-width: 900px) {
    header, header ul {
        flex-direction: column;
    }
    header nav {
        border-top: 2px solid;
    }
    ul {
        margin: 0px;
    }
    .menu {
        font-weight: bold;
        display: block;
        text-align: center;
        margin: 10px auto 25px auto;
    }
}

/* Mobile Styles */
@media all and (max-width: 600px) {
    h1 {
        text-align: center;
    }
}